<link href="exercise.css" rel="stylesheet" type="text/css"/>
<section class="module">
	<h1>Conditionals</h1>

	<article class="exercise">
		<p>Write a program that prompts the user for two numbers.  The program should
		then print "Low/High" if the first number was less than the second number,
		"High/Low" if the second number was less than the first, and "Equal" if the
		two numbers are equal.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">hilo</kbd>
Enter first number: <kbd>7.13</kbd>
Enter second number: <kbd>5.71</kbd>
High/Low
<span class="prompt">&gt;</span> <kbd class="invoke">hilo</kbd>
Enter first number: <kbd>11</kbd>
Enter second number: <kbd>11</kbd>
Equal
<span class="prompt">&gt;</span> <kbd class="invoke">hilo</kbd>
Enter first number: <kbd>-3</kbd>
Enter second number: <kbd>-2</kbd>
Low/High
</samp></pre>
	</article>

	<article class="exercise">
		<p>Write a program that prompts the user for an hourly wage, and then a
		number of hours worked.  The program should then print the wages to be
		paid.  If more than 40 hours were worked (i.e., overtime), the employee
		should get 1.5 times their usual rate for every hour over 40.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">overtime</kbd>
Enter hourly wage: <kbd>7.25</kbd>
Enter hours worked: <kbd>35</kbd>
$253.75
<span class="prompt">&gt;</span> <kbd class="invoke">overtime</kbd>
Enter hourly wage: <kbd>9.32</kbd>
Enter hours worked: <kbd>43</kbd>
$414.74
<span class="prompt">&gt;</span> <kbd class="invoke">overtime</kbd>
Enter hourly wage: <kbd>9</kbd>
Enter hours worked: <kbd>40.5</kbd>
$366.75
</samp></pre>

		<p><strong>Challenge:</strong> Work correctly even if the user enters a dollar
		symbol in their input for the wage:</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">overtime</kbd>
Enter hourly wage: <kbd>$7.50</kbd>
Enter hours worked: <kbd>20.5</kbd>
$153.75
<span class="prompt">&gt;</span> <kbd class="invoke">overtime</kbd>
Enter hourly wage: <kbd>9</kbd>
Enter hours worked: <kbd>40.5</kbd>
$366.75
</samp></pre>

	</article>

	<article class="exercise">
		<p>According to the United States constitution, a person is eligible to be
		a US Senator if they are at least 30 years old and have been a citizen for
		at least 9 years.  They are eligible to be a US Representative if they are
		at least 25 years old and have been a US citizen for 7 years.  To be
		president, a person must be at least 35 years old and be born as a US
		citizen (i.e., a citizen their entire life).  Input a person's age and years
		of citizenship, and then determine their eligibility for each of these important
		positions.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">electable</kbd>
Enter the person's age: <kbd>57</kbd>
Enter the number of years of citizenship: <kbd>14</kbd>
Not eligible for Presidency
Eligible for Senate
Eligible for House
<span class="prompt">&gt;</span> <kbd class="invoke">electable</kbd>
Enter the person's age: <kbd>69</kbd>
Enter the number of years of citizenship: <kbd>69</kbd>
Eligible for Presidency
Eligible for Senate
Eligible for House
<span class="prompt">&gt;</span> <kbd class="invoke">electable</kbd>
Enter the person's age: <kbd>45</kbd>
Enter the number of years of citizenship: <kbd>5</kbd>
Not eligible for Presidency
Not eligible for Senate
Not eligible for House
</samp></pre>

	</article>

	<article class="exercise">
		<p>A UMBC Training Centers Instructor gives 100-point exams that are graded
		on the following scale:</p>

		<table>
			<tr><td>90&ndash;100</td><td>A</td></tr>
			<tr><td>80&ndash;89</td><td>B</td></tr>
			<tr><td>70&ndash;79</td><td>C</td></tr>
			<tr><td>60&ndash;69</td><td>D</td></tr>
			<tr><td>&lt;60</td><td>F</td></tr>
		</table>

		<p>Write a program that inputs a student's score and uses a conditional
		structure to output the appropriate letter grade.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">examgrade</kbd>
Enter a score: <kbd>85</kbd>
B
<span class="prompt">&gt;</span> <kbd class="invoke">examgrade</kbd>
Enter a score: <kbd>100</kbd>
A
<span class="prompt">&gt;</span> <kbd class="invoke">examgrade</kbd>
Enter a score: <kbd>26</kbd>
F
</samp></pre>

		<p lang="perl">If you choose to use <code lang="perl">given/when,</code> remember
		to include the <code lang="perl">no warnings 'experimental::smartmatch'</code> pragma.</p>

	</article>

	<article class="exercise">
		<p>A year is a "leap year" if it is divisible by 4.  However, if the year
		is divisible by 100, it is <em>not</em> a leap year.  Unless it's divisible
		by 400, in which case it's a leap year again!  For example, 2000 was a
		leap year, but 1900 was not. Write a program that inputs a year and
		determines if the year is a leap year.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">intercalary</kbd>
Enter a year: <kbd>2000</kbd>
2000 is a leap year
<span class="prompt">&gt;</span> <kbd class="invoke">intercalary</kbd>
Enter a year: <kbd>1900</kbd>
1900 is not a leap year
<span class="prompt">&gt;</span> <kbd class="invoke">intercalary</kbd>
Enter a year: <kbd>1984</kbd>
1984 is a leap year
</samp></pre>

	</article>


	<article class="exercise" lang="python">
	<!-- python conditionals -->
	<!-- perl regex -->
		<aside>The following exercise is modified from work created and shared
			by <a href="https://developers.google.com/edu/python/exercises/basic"
				target="_blank">Google</a> and used according to the terms described in the
			<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative
				Commons 3.0 Attribution License</a>.</aside>

		<p>Write a program that inputs a multi-word string from the user.  Find the
		first occurrence of the  words "not" and "bad".  If "bad" follows "not",
		replace the "not...bad" substring with "good".  Output the modified
		string.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">notbad</kbd>
Enter a sentence to make good: <kbd>it was a bad date</kbd>
it was a bad date
<span class="prompt">&gt;</span> <kbd class="invoke">notbad</kbd>
Enter a sentence to make good: <kbd>it was a not half-bad date</kbd>
it was a good date
<span class="prompt">&gt;</span> <kbd class="invoke">notbad</kbd>
Enter a sentence to make good: <kbd>it was a bad apricot, not a date</kbd>
it was a bad apricot, not a date
</samp></pre>
	</article>

	<article class="exercise">
		<p>Write a program that prompts the user for a weight in pounds and a
		height in inches.  It should then print the Body Mass Index (BMI), and
		their overall stature.</p>

		<p>BMI is calculated by taking the weight in kilograms and dividing it by
		the square of the height in meters.  A BMI of less than 18.5 is considered
		underweight, a BMI of 25 or more is considered overweight, and a BMI of 30
		or more is considered obese. (1in = 0.0254m, 1kg = 2.20462lb)</p>
		<!-- The units are intentionally not in the most useful form -->

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">bmi</kbd>
Enter weight in pounds: <kbd>146</kbd>
Enter height in inches: <kbd>70</kbd>
BMI is 20.948628714662586
Normal
<span class="prompt">&gt;</span> <kbd class="invoke">bmi</kbd>
Enter weight in pounds: <kbd>108</kbd>
Enter height in inches: <kbd>65</kbd>
BMI is 17.97197749177181
Underweight
<span class="prompt">&gt;</span> <kbd class="invoke">bmi</kbd>
Enter weight in pounds: <kbd>1199</kbd>
Enter height in inches: <kbd>67</kbd>
BMI is 187.78824426454034
Obese
</samp></pre>
	</article>

</section>
